.footer {
  background-color: $color-base;

  .container {
    padding: 0;

    .footer-content {
      display: inline-block;
      color: $gray;
      margin-bottom: auto;
      padding: 0 0 $gutter 0;
      vertical-align: top;
      width: 50%;

      .footer-content-links,
      .footer-content-resources {
        list-style: none;
        margin: 0 $gutter;
        padding: 0;
        text-align: left;

        a {
          color: $gray-light;
          transition: color $hover-transition;

          &:hover {
            color: $brand-primary;
          }
        }
      }

      .footer-content-links {
        text-align: right;
      }

      @include breakpoint('sm') {
        padding: $gutter 0;
        width: 33.3%;
      }
    }

    .footer-content-media {
      display: inline-block;
      padding: $gutter 0 0;
      text-align: center;
      vertical-align: top;
      width: 100%;

      .media-btns {
        margin: $gutter/2;

        .icon {
          background-color: $gray-light;
          border-radius: 20%;
          color: $color-base;
          cursor: pointer;
          fill: $color-base;
          height: 34px;
          margin: 5px;
          padding: 5px;
          transition: background-color $hover-transition;
          width: 34px;

          &:hover {
            background-color: $brand-primary-dark;
          }
        }
      }

      .icon-logo-rocky {
        width: 100%;

        g {
          fill: $gray-light;
          transition: fill $hover-transition;
        }

        &:hover {
          g {
            fill: $brand-primary-dark;
          }
        }
      }

      @include breakpoint('sm') {
        padding: $gutter 0;
        width: 33.3%;
      }
    }
  }
}
