.form-container {
  border: solid $gray-light;
  margin: $gutter * 2 auto;

  form {
    margin: $gutter $gutter $gutter/2;

    .comment {
      color: $gray;
    }

    .info {
      display: inline-block;

      .input-block {
        display: inline-block;
        margin: 0 $gutter/2 $gutter 0;
        width: 95%;

        .icon {
          height: 16px;
          margin-left: -16px;
          opacity: 0;
          transform: rotate(-90deg) translate(-25%, -50%);
          transition: opacity $hover-transition, transform $hover-transition;
          width: 16px;
        }

        input {
          border: solid 1px $color-base;
          border-style: none none solid;
          float: right;
          margin-top: $gutter/4;
          width: 100%;

          &:focus {
            outline: none;

            + .icon {
              opacity: 1;
              transform: rotate(-90deg) translate(-25%, 0);
            }
          }
        }

        @include breakpoint('lg') {
          width: 46%;
        }
      }

      @include breakpoint('md') {
        width: 50%;
      }
    }

    .text-block {
      display: inline-block;
      width: 100%;

      .icon {
        height: 16px;
        margin-left: -16px;
        opacity: 0;
        transform: rotate(-90deg) translate(-50%, -50%);
        transition: opacity $hover-transition, transform $hover-transition;
        width: 16px;
        vertical-align: middle;
      }

      textarea {
        float: right;
        margin-top: $gutter/2;
        resize: none;
        height: 125px;
        width: 100%;

        &:focus {
          outline: none;

          + .icon {
            opacity: 1;
            transform: rotate(-90deg) translate(-50%, 0);
          }
        }

        @include breakpoint('md') {
          height: 262px;
        }

        @include breakpoint('lg') {
          height: 95px;
        }
      }

      @include breakpoint('md') {
        float: right;
        width: 50%;
      }
    }

    .required {
      color: #e33333;
    }
  }

  .submit-container {
    margin: $gutter/2 $gutter;
    text-align: center;
  }
}
