.website {
  padding: $gutter * 2 0;

  .web-col {
    display: inline-block;
    margin-bottom: $gutter;
    width: 100%;
    vertical-align: top;

    &.website-description {
      @include breakpoint('md') {
        width: 36%;
      }
    }

    &.website-thumb {
      background-size: cover;
      height: 150px;
      text-align: center;

      .button {
        border: solid 1px $color-base;
        opacity: 0;
        position: relative;
        top: 60%;
        transition: opacity $hover-transition, transform $hover-transition,
          background-color $hover-transition;
      }

      &:hover {
        .button {
          opacity: 1;
          transform: translate(0, -100%);
        }
      }

      @include breakpoint('sm') {
        height: 250px;
      }

      @include breakpoint('md') {
        width: 60%;
        margin: 0 0 0 24px;
      }

      @include breakpoint('lg') {
        height: 300px;
        margin: 0 0 0 36px;
      }
    }
  }

  &.trakpacker {
    .website-thumb {
      background-image: url('/TrakPacker.jpg');

      .button {
        background: #fbbd04;

        &:hover {
          background: darken(#fbbd04, 7%);
        }
      }
    }
  }

  &.teletalkers {
    background: $gray-light;

    .website-thumb {
      background-image: url('/TeleTalkers.jpg');

      .button {
        background: #ff524b;

        &:hover {
          background: darken(#ff524b, 7%);
        }
      }
    }
  }

  &.jp-life {
    .website-thumb {
      background-image: url('/JPLifeCoach.jpg');

      .button {
        background: #526271;

        &:hover {
          background: darken(#526271, 7%);
        }
      }
    }
  }
}
